<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 상세페이지</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include("common/header.ejs"); %>
    <div id="container">
        <%- include("common/banner.ejs"); %>
        <div class="center">
            <h3>기업소식</h3>
            <div class="brd_detail">
                <div class="detail_top">
                    <div class="title"><%- data.brdtitle %></div>
                    <div class="detail_no">글번호 : <%- data.brdid %></div>
                    <div class="auther">작성자 : <%- data.brdauther %></div>
                    <div class="time">작성시간 : <span><%- data.brdtime %></span></div>
                    <div class="count">조회수 : <%- data.brdcount %></div>
                </div>
                <div class="context"><%- data.brdcontext %></div>
            </div>
            <div class="detailBtn">
                <a href="/uptview/<%- data.brdid %>">수정</a>
                <a id="del" href="/delete/<%- data.brdid %>">삭제</a>
                <a href="/list">목록</a>
            </div>
        </div>
    </div>
    <%- include("common/footer.ejs"); %>
    <script>
        const delBtn = document.querySelector("#del");
        delBtn.addEventListener("click",function(event){
            //확인 취소 고를 수 있는 경고창 꺼내기
            let test = window.confirm("게시글을 진짜로 삭제하시겠습니까?");
            //confirm 함수에서 확인을 누르면 true값 취소를 누르면 false값
            if(test === false){
                event.preventDefault();
            }
            //del 버튼을 누르면 컨펌창이 열리고 확인을 누르면 그때 a태그의 href 주소로 이동
        });
    </script>
</body>
</html>